@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
/* colors */
  --Neutral-50: 0, 0%, 98%;
  --Neutral-100: 0, 0%, 96%;
  --Neutral-200: 0, 0%, 94%;
  --Neutral-300: 0, 0%, 88%;
  --Neutral-400: 0, 0%, 74%;
  --Neutral-500: 0, 0%, 62%;
  --Neutral-600: 0, 0%, 46%;
  --Neutral-700: 0, 0%, 38%;
  --Neutral-800: 0, 0%, 26%;
  --Neutral-900: 0, 0%, 13%;

  --Green-50: 142, 81%, 94%;
  --Green-100: 145, 53%, 84%;
  --Green-200: 146, 52%, 76%;
  --Green-300: 146, 52%, 66%;
  --Green-400: 145, 52%, 59%;
  --Green-500: 145, 55%, 49%;
  --Green-600: 145, 55%, 45%;
  --Green-700: 145, 62%, 38%;
  --Green-800: 146, 55%, 27%;
  --Green-900: 156, 61%, 20%;

  --Red-50: 351, 100%, 96%;
  --Red-100: 354, 100%, 90%;
  --Red-200: 0, 73%, 77%;
  --Red-300: 0, 69%, 67%;
  --Red-400: 1, 83%, 63%;
  --Red-500: 4, 90%, 58%;
  --Red-600: 1, 77%, 55%;
  --Red-700: 0, 65%, 51%;
  --Red-800: 0, 66%, 47%;
  --Red-900: 0, 73%, 41%;

  --Yellow-50: 44, 100%, 98%;
  --Yellow-100: 44, 90%, 92%;
  --Yellow-200: 43, 87%, 85%;
  --Yellow-300: 42, 87%, 78%;
  --Yellow-400: 43, 86%, 74%;
  --Yellow-500: 43, 87%, 67%;
  --Yellow-600: 43, 66%, 61%;
  --Yellow-700: 42, 42%, 48%;
  --Yellow-800: 43, 64%, 34%;
  --Yellow-900: 44, 66%, 22%;

  --Blue-50: 206, 100%, 97%;
  --Blue-100: 206, 79%, 81%;
  --Blue-200: 207, 58%, 76%;
  --Blue-300: 207, 58%, 66%;
  --Blue-400: 207, 58%, 59%;
  --Blue-500: 207, 61%, 49%;
  --Blue-600: 208, 60%, 45%;
  --Blue-700: 207, 64%, 39%;
  --Blue-800: 208, 63%, 27%;
  --Blue-900: 207, 45%, 23%;

  --Primary-50: 216, 100%, 96%;
  --Primary-100: 216, 100%, 88%;
  --Primary-200: 216, 100%, 82%;
  --Primary-300: 216, 100%, 74%;
  --Primary-400: 216, 100%, 68%;
  --Primary-500: 216, 100%, 60%;
  --Primary-600: 216, 80%, 55%;
  --Primary-700: 216, 65%, 43%;
  --Primary-800: 216, 66%, 33%;
  --Primary-900: 216, 66%, 25%;

  --background: var(--Neutral-50);
  --foreground: 0, 0%, 0%;
  --light: 0, 0%, 100%;
  --dark: 0, 0%, 0%;

/*size*/
  --s-4xs: 1px;
  --s-3xs: 2px;
  --s-2xs: 4px;
  --s-xs: 6px;
  --s-s: 8px;
  --s-md: 12px;
  --s-lg: 16px;
  --s-xl: 20px;
  --s-2xl: 24px;
  --s-3xl: 32px;
  --s-4xl: 40px;
  --s-5xl: 56px;

  --box-shadow: 0px 25px 45px 0px hsla(210, 100%, 19.8%, 0.10);

}

